<!-- About Section -->
<section id="categories" class="categories">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.categoriesTitle }}</h3>
            <div class="row categories-details">
                {% assign animationDelay = 0 %}
                {% for category in site.categoriesBlock %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <img class="img-circle" src="{{ site.baseurl }}/img/categories/{{ category.image }}" height="128" width="128" alt="{{ category.title }}">
                        <h5>{{ category.text }} </h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
