<!-- Guidelines Section -->
<section id="guidelines" class="guidelines">
	<div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 text-center">
        	<h3>{{ site.guidelinesTitle }}</h3>
        	<p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.guidelines1 }}</p>
        	<ul class="text-left animated hiding" data-animation="fadeInUp" data-delay="0"> {% for category in site.categoriesBlock %}
                <li> {{ category.text }} </li>
                {% endfor %}
            </ul>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.guidelines2 }}</p>
        </div>
    </div>
</section>
<!-- End Guidelines Section -->