<!-- History Section -->
<section id="history" class="history", style="padding-top: 10px">
	<div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h3 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">History of MSS</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.history1 }}</p>
            <br>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.history2 }}</p>
            <br>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.history3 }}</p>
        </div>
    </div>
</section>

<!-- End History Section -->