<!-- Mini Science Series Section -->
<section id="mini-science-series" class="mini-science-series">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Mini Science Series</h3>
            <p class="text-middle" data-animation="fadeInUp" data-delay="0">{{ site.miniSeries1 }}</p>
            {% for button in site.miniSeriesButtons %}
        	<a  style="margin: 0px 0px 25px 0px" href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
        	{% endfor %}
        </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
      {% for poster in site.miniSeriesPoster %}
        <img src="{{ site.baseurl }}/img/posters/{{ poster.image }}" style="width:100%; margin: 0px 0px 25px 0px">
      {% endfor %}
    </div>
    </div>
</section>
<!-- End Mini Science Series Section -->
